@charset "UTF-8";
/* ** overlay mixin 
*/
/* 
   ** prefixes mixin 
   ** add auto prefixes to property
*/
/* 
   ** animation mixin 
   ** add auto animation to property
*/
.containar {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .containar {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .containar {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .containar {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

/*! // centering all text in mobile screen @max-width(767px)*/
@media (max-width: 767px) {
  .center-mobile {
    text-align: center;
  }
}

/*!main buttons global*/
.main-button {
  background-color: rgba(255, 69, 0, 0.8);
  min-width: 120px;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.main-button:hover {
  background-color: orangered;
}

.toggler {
  position: absolute;
  top: 30px;
  left: 90%;
  cursor: pointer;
  display: none;
}
@media (max-width: 767px) {
  .toggler {
    display: block;
  }
}
.toggler span {
  display: block;
  background-color: orangered;
  height: 4px;
  width: 40px;
  margin-bottom: 5px;
}
.toggler span:nth-last-of-type(2) {
  width: 30px;
}

/*!main buttons global*/
/*! our-players */
.head-to-top {
  position: relative;
}
.head-to-top h2 {
  text-align: center;
  background-color: #ff4300;
  padding: 10px 15px;
  color: white;
  width: 400px;
  margin: 40px auto;
  border-radius: 15px;
  text-transform: capitalize;
}
.head-to-top h2::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: #ccc;
  left: 0;
  top: 50%;
  z-index: -1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

/*  Start header*/
header {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
header .log {
  position: relative;
}
@media (min-width: 767px) {
  header .log {
    text-align: center;
    float: none;
    width: 100%;
  }
}
@media (min-width: 991px) {
  header .log {
    float: left;
    width: 30%;
    text-align: left;
  }
}
header h1 {
  margin: 0;
}
header p {
  color: #ccc;
  margin: 5px 0 0;
}

.navbar {
  overflow: hidden;
  background-color: orangered;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .navbar {
    float: none;
    width: 100%;
    margin-top: 30px;
    display: block !important;
  }
}
@media (min-width: 991px) {
  .navbar {
    float: left;
    width: 70%;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .navbar {
    display: none;
    border-radius: 0;
  }
}

li {
  width: 20%;
  float: left;
  text-align: center;
  font-size: 13px;
}
@media (max-width: 767px) {
  li {
    display: block;
    float: none;
    border-radius: 0;
  }
}
li a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 20px 10px;
}
li :hover {
  color: #ddd;
}

/*  end  header */
/*start slider*/
.slider q {
  font-size: 20px;
  font-weight: bold;
  font-family: arial, tahoma;
  text-align: center;
  width: 80%;
  display: block;
  margin: 30px auto;
  color: #5e5e5e;
  line-height: 1.7;
}
.slider img {
  width: 100%;
}
.slider .bullets {
  text-align: center;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .bullets li {
  /*! في تغير اتجاه لصفحة من  عربي لانجليز او العكس هاي الخاصية بتوفر عليك كتير بحثيت انوا من تلقاء نفسها بتشتغل هالشغل */
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ccc;
  border: 3px soild #ccc;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 5px;
}
.slider .bullets li.active, .slider .bullets li:hover {
  border: 3px solid;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*end slider*/
.head-to-top {
  position: relative;
}
.head-to-top h2 {
  text-align: center;
  background-color: #ff4300;
  padding: 10px 15px;
  color: white;
  width: 400px;
  margin: 40px auto;
  border-radius: 15px;
  text-transform: capitalize;
}
.head-to-top h2::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: #ccc;
  left: 0;
  top: 50%;
  z-index: -1;
}

/*!start services */
.services .service-box {
  float: left;
  width: calc(100%/3);
}
.services .service-box:not(:last-of-type) {
  padding-right: 20px;
}
.services .service-box .icon-face {
  text-transform: uppercase;
  color: #666161;
}
.services .service-box .icon-face i {
  font-size: 40px;
  margin-right: 10px;
}
.services .service-box .parg-desc {
  font-size: 16px;
  color: #3e3939;
  margin: 0;
  line-height: 1.5;
}
.services .service-box a {
  color: orangered;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

/*!end services*/
/*! start our-players*/
.our-players .players-box {
  float: left;
  width: calc(100%/5);
  padding-right: 20px;
}
.our-players .players-box .players-image {
  max-width: 100%;
}
.our-players .players-box .icon-face {
  font-size: 15px;
  color: #666161;
  font-weight: normal;
  margin: 10px 0;
}
.our-players .players-box .icon-face span {
  font-weight: bold;
  font-size: 14px;
}
.our-players .players-box .parg-desc {
  font-size: 15px;
  color: #3e3939;
  margin: 0;
  line-height: 1.5;
}
.our-players .players-box a {
  font-size: 13px;
  color: orangered;
  text-decoration: none;
  font-weight: bold;
}

/*! end our-players*/
/*! start lorem*/
.is-lorem .lorem .lorem-box {
  float: left;
  width: calc(94% / 3);
  margin-right: 20px;
}
.is-lorem .lorem .lorem-box :not(:last-of-type) {
  margin-right: 3%;
}
.is-lorem .lorem .lorem-box .lorem-img {
  width: 100%;
}

/*! end lorem*/
/*! stat  footer */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  background-color: #ccc;
  overflow-x: hidden;
}
.footer .captions,
.footer .details,
.footer .contacts {
  float: left;
}
.footer .captions {
  width: 50%;
}
.footer .captions .cap-name {
  overflow-x: hidden;
  margin-bottom: 10px;
}
.footer .captions .cap-name img {
  float: left;
  height: 150px;
  width: 150px;
  border: 6px solid #777;
}
.footer .captions .cap-name .text {
  float: left;
  width: calc(100% - 180px);
  margin-right: 15px;
  margin-left: 15px;
}
.footer .captions .cap-name .text h4 {
  margin: 20px 0 0;
  color: orangered;
}
.footer .captions .cap-name .text p {
  margin-top: 10px;
  line-height: 1.7;
  color: #777;
}
.footer .details {
  width: 25%;
}
.footer .details ul {
  color: #777;
  line-height: 1.6;
}
.footer .details ul li span {
  color: orangered;
  font-weight: bold;
}
.footer .details .working {
  color: #777;
}
.footer .details .working > h4 {
  margin: 8px 6px;
}
.footer .details .working span {
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
}

.contacts {
  width: 25%;
}
.contacts input[type=text],
.contacts input[type=email],
.contacts textarea {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgba(136, 136, 136, 0.6);
  padding: 10px;
  width: 100%;
}
.contacts textarea {
  height: 140px;
}

.title {
  color: #444;
  font-weight: normal;
}

.cap-name .foot-img {
  width: 150px;
}

/*! end footer */