/*! our-players */
.head-to-top {
    position: relative;

    h2 {
        text-align: center;
        background-color: rgba(255, 67, 0);
        padding: 10px 15px;
        color: white;
        width: 400px;
        margin: 40px auto;
        border-radius: 15px;
        text-transform: capitalize;

        &::before {
            content: "";
            position: absolute;
            height: 1.5px;
            width: 100%;
            background: #ccc;
            left: 0;
            top: 50%;
            z-index: -1;

        }
    }
}