/*!start services */
.head-to-top {
    position: relative;

    h2 {
        text-align: center;
        background-color: rgba(255, 67, 0);
        padding: 10px 15px;
        color: white;
        width: 400px;
        margin: 40px auto;
        border-radius: 15px;
        text-transform: capitalize;

        &::before {
            content: "";
            position: absolute;
            height: 1.5px;
            width: 100%;
            background: #ccc;
            left: 0;
            top: 50%;
            z-index: -1;

        }
    }
}

.services {

    .service-box {
        float: left;
        width: calc(100%/3);

        &:not(:last-of-type) {
            padding-right: 20px;
        }

        .icon-face {
            text-transform: uppercase;
            color: #666161;

            i {
                font-size: 40px;
                margin-right: 10px;
            }
        }

        .parg-desc {
            font-size: 16px;
            color: #3e3939;
            width: 300px;
            margin: 0;
            line-height: 1.5;
        }

        a {

            color: orangered;
            text-decoration: none;
            font-weight: bold;
        }
    }

}

/*!end services*/

/*! our-players */
.head-to-top {
    position: relative;

    h2 {
        text-align: center;
        background-color: rgba(255, 67, 0);
        padding: 10px 15px;
        color: white;
        width: 400px;
        margin: 40px auto;
        border-radius: 15px;
        text-transform: capitalize;

        &::before {
            content: "";
            position: absolute;
            height: 1.5px;
            width: 100%;
            background: #ccc;
            left: 0;
            top: 50%;
            z-index: -1;

        }
    }
}

.our-players {

    .players-box {
        float: left;
        width: calc(100%/5);
        padding-right: 20px;

        .players-image {
            max-width: 100%;
        }

        .icon-face {
            font-size: 15px;
            color: #666161;
            font-weight: normal;
            margin: 10px 0;

            span {
                font-weight: bold;
                font-size: 14px;
            }
        }

        .parg-desc {
            font-size: 15px;
            color: #3e3939;
            margin: 0;
            line-height: 1.5;
        }

        a {
            font-size: 13px;
            color: orangered;
            text-decoration: none;
            font-weight: bold;
        }
    }

}

/*!our-players*/

/*! start lorem*/
.is-lorem {
    .lorem {
        .lorem-box {
            float: left;
            width: calc(94% / 3);
            margin-right: 20px;

            :not(:last-of-type) {
                margin-right: 3%;
            }

            .lorem-img {
                width: 100%;
            }
        }
    }
}

/*! end lorem*/