// عند 3 طرق تستدعي فيها متغير اما عن طريق تعرف متغير فالصفحة او عن  طريق ال الانتربلوشن  او عن طريق المكسن 
// call var
$samllmedia: 767px;

// call media Query via 
// $maxmediam: '(min-width: 992px)'

$orangecolor: #e2494c;
$greycolor: #9c9c9c;


$dir-left: left;
$dir-right: right;

// $trans: 0.4s;