/*! stat  footer */
.footer {

    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    background-color: #ccc;
    overflow-x: hidden;

    .captions,
    .details,
    .contacts {
        float: left;
        // margin-right: 3%;
    }

    .captions {
        width: 50%;

        .cap-name {
            overflow-x: hidden;
            margin-bottom: 10px;

            img {
                float: left;
                height: 150px;
                width: 150px;
                border: 6px solid #777
            }

            .text {
                float: left;
                width: calc(100% - 180px);
                margin-right: 15px;
                margin-left: 15px;

                h4 {
                    margin: 20px 0 0;
                    color: orangered;

                }

                p {
                    margin-top: 10px;
                    line-height: 1.7;
                    color: #777;

                }
            }

        }
    }

    .details {
        width: 25%;

        ul {
            color: #777;
            line-height: 1.6;

            li {
                span {
                    color: orangered;
                    font-weight: bold;
                }
            }
        }

        .working {
            color: #777;

            >h4 {
                margin: 8px 6px;
            }

            span {
                margin-bottom: 5px;
                display: block;
                font-size: 14px;

            }
        }
    }
}

.contacts {
    width: 25%;

    input[type="text"],
    input[type="email"],
    textarea {
        margin-bottom: 10px;
        background-color: white;
        border-radius: 6px;
        border: 1px solid rgba(136, 136, 136, 0.6);
        padding: 10px;
        width: 100%;
    }

    textarea {
        height: 140px;
        
    }
}

.title {
    color: #444;
    font-weight: normal;
}

.cap-name {
    .foot-img {
        width: 150px;
    }

}

/*! end footer */