// * {
//     @include prefixer(box-sizing, border-box, webkit moz)
// }

.containar {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 768px) {
        width: 750px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 992px) {
        width: 970px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 1200px) {
        width: 1170px;
    }
}

//< !-- بعالج اي فلوت موجود في الصفحة -->
.clearfix {
    clear: both;
}

/*! // centering all text in mobile screen @max-width(767px)*/

.center-mobile {
    @media (max-width:767px) {
        text-align: center;
    }
}