// هاي الصفحة لاي خاصية   بدك تحطها في جميع الصفحات  بدون  ما تعمل اي مشكلة مع  صفحات تانية 

// ؟؟ ايش سر وسبب هاي الصفحة وما حطتيه هالكلام في  صفحة  الheader
// انوا فالمشاريع الكبيرة مثلا عند  صفحات فيها خصائص مش مشتركة مع  بعض فلو  حطيت خاصية  مش مشرتكة مع الصفحة تبتعتها هتحخرب اتلدنيا فحنحط  هاي الخاصية فالصفحة هاي عشان  ما تخرب الدنيا

* {
    box-sizing: border-box;
    // @include prefixer(box-sizing, border-box, webkit moz);
}

body {
    font: {
        size: 20px;
        family: tahoma;
    }
}

ul,
ol {
    padding: 0;
    list-style: none;
    margin: 0;
}